{% extends "main-layout.html" %}

{% block title %}
    About Me
{% endblock %}


<!-- About Me Content -->
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">About Me</h1>
                    <p class="card-text">Arezoo Ghodsifard is an AI researcher and developer with a master's degree in computer science, focusing on Biometrics and Intelligent Vision. Based in Île-de-France, Arezoo is dedicated to leveraging artificial intelligence to decipher complex biological data. At the Institut Mondor de Recherche Biomédicale (IMRB), she is gaining invaluable experience in analyzing RNA sequences and pathology images to develop smart medical diagnostic solutions. Her expertise spans medical image processing, deep learning, machine learning, and biostatistics. Passionate about advancing medical research through cutting-edge AI techniques, Arezoo continuously strives to uncover crucial biological insights and improve diagnostic processes.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

