{% extends "main-layout.html" %}

{% block title %}
    About This Project
{% endblock %}

<!-- About This Project Content -->
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">About This Project</h1>
                    <p class="card-text">This project aims to develop a web application designed to streamline the medical diagnostic process by integrating advanced AI capabilities. The application will allow doctors to input a patient's name and upload a medical image. Using a specialized model developed and trained at the Institut Mondor de Recherche Biomédicale (IMRB), the application will analyze the image and generate a comprehensive diagnostic report. This report, along with the patient's information, will be securely stored in a database, ensuring easy access and management of patient records. This innovative tool is intended to enhance the accuracy and efficiency of medical diagnostics, ultimately contributing to better patient outcomes.</p>
                </div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}

