{% extends "main-layout.html" %}


{% block title %}
    Contact
{% endblock %}


<!-- Contact Content -->
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <h1 class="mb-4 text-center">Contact</h1>
                <div class="card-body">
                    <h4 class="card-title">Arezoo GHODSIFARD</h4>
                    <p class="card-text"><strong>Profession:</strong> Python Programmer, AI expert</p>
                    <p class="card-text"><strong>Email:</strong> <a href="mailto:ghodsifard.arezoo@gmail.com">ghodsifard.arezoo@gmail.com</a></p>
                    <p class="card-text"><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/arezoo-ghodsifard" target="_blank">https://www.linkedin.com/in/arezoo-ghodsifard</a></p>
                    <p class="card-text"><strong>Phone Number:</strong> +33 7 6633 5550</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


