{% extends "main-layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

<!-- Signup Form -->
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Sign Up</h2>

                    <!-- Sign Up Form -->
                    <form action="/register" method="POST">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" name="name"  placeholder="John" required>
                            <br>
                            <label for="surname">Surname</label>
                            <input type="text" class="form-control" id="surname" name="surname" placeholder="Doe" required>
                            <br>
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="john.doe@example.com" required>
                            <br>
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="john_doe" required>
                            <br>
                            <label for="password">Password</label>
                            <div class="info-icon" data-toggle="tooltip">
                                ?
                                <span class="tooltip-text">Use at least 12 characters including:<br>- One uppercase letter.<br>- One number.<br>- One special character.</span>
                            </div>
                            <div class="d-flex align-items-center">
                                <input type="password" class="form-control" id="password" name="password" placeholder="A Very Str0ng Passw0rd!" required>
                            </div>
                            <br>
                            <label for="password">Re-type password</label>
                            <input type="password" class="form-control" id="check_password" name="check_password" placeholder="Repeat your password" required>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>

{% endblock %}

